
[submodule "assembliss/Qdb"]
	path = assembliss/Qdb
	url = https://github.com/ucgJhe/Qdb.git
[submodule "assembliss/rootfs"]
	path = assembliss/rootfs
	url = https://github.com/qilingframework/rootfs.git
